@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #f4f4f4, #e6e9ec);
}

.service-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.header-container {
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease; /* Added transition */
}

.service-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    max-width: 950px;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 40px 40px 20px 40px; 
}

.service-details-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.service-details-container img {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s;
}

.service-details-container img:hover {
    transform: scale(1.08);
}

.service-details-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    color: #672ab2;
    margin-bottom: 25px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.service-details-container div {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
    line-height: 1.7;
    align-self: flex-start;
}

.fa-star.ratings-yellow-star {
    color: #ffc107;
    margin-left: 8px;
}

.ratings-reviews-container {
    margin-top: 10px; /* Reducing the top margin */
    border-top: 2px solid #e4e4e4;
    padding-top: 50px; /* Reducing the top padding */
    padding-right: 650px;
}

.rating-item {
    border-bottom: 1px dashed #eee;
    padding: 15px 0;
}

.rating-item h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 1.2rem;
}
