/* favorites.css */

/* General Styling */

.header-container {
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease; /* Added transition */
}

/* Search Input Styling */

.favorites-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
}

.favorites-input:focus {
    border-color: #672ab2;
}

/* Autocomplete Styling */

.favorites-autocomplete-list {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
}

.favorites-autocomplete-item {
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    transition: background-color 0.3s;
}

.favorites-autocomplete-item:last-child {
    border-bottom: none;
}

.favorites-autocomplete-item:hover {
    background-color: #f9f9f9;
}

.search-bar {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 8px 12px; /* Added padding for better visuals */
    width: 100%; /* Full width within container */
    outline: none;
    transition: box-shadow .3s ease, border-color .3s ease;
}

.search-bar:focus {
    box-shadow: 0 0 15px rgba(76, 175, 80, 0.5);
    border-color: #672ab2;
}

.favorites-footer-text {
    margin: 10px 0;
    font-size: 14px;
}

