/* HomePage.css */

.homepage-bg {
    background: #f2f2f2;
    font-family: 'Arial', sans-serif;
}

.carousel-section, .services-section, .contact-section {
    margin: 3rem 4rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    padding: 2rem;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #672ab2;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 1rem;
}

.footer-container {
    text-align: center;
    background-color: #672ab2;
    padding: 1rem 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footer-text {
    color: #fff;
}

.contact-section {
    display: grid;
    grid-template-rows: auto auto; /* This means there will be two rows and each row will size itself based on its content */
    gap: 20px; 
}

.map-container,
.details-container {
    width: 100%; /* Adjust as per your needs */
}

.details-container {
    /* Existing styles (if any) */
    /* Add the below styles to center the content within the details-container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* To center the text inside the container */
}
